apiVersion: v1
name: stakater-cloud-docs
description: Stakater Cloud Documentation
version: {{ getenv "VERSION" }}
keywords:
  - stakater
  - cloud
  - openshift
home: https://github.com/stakater/stakaterclouddocs
maintainers:
- name: Stakater
  email: hello@stakater.com
- name: Waleed Malik
  email: waleed@stakater.com